*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.timeline {
  position: relative;
  width: 100%;
  margin: auto;
  padding: 30px 0;
}
.timeline::after {
  content: '';
  position: absolute;
  width: 1px;
  background: #2a77eb;
  top: 30;
  bottom: -200;
  left: 50%;
  margin-left: -1px;
}
.container {
  padding: 15px 30px;
  position: relative;
  background: inherit;
  width: 50%;
}
.container.left {
  left: 0;
}
.container.right {
  left: 50%;
}
.container::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  top: calc(50% - 8px);
  right: -8px;
  background: #2a77eb;
  border: 2px solid #2a77eb;
  border-radius: 16px;
  z-index: 1;
}
.container.right::after {
  left: -8px;
}
.container::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 2px;
  top: calc(50% - 1px);
  right: 8px;
  background: #2a77eb;
  z-index: 1;
}
.container.right::before {
  left: 8px;
}
.container .date {
  position: absolute;
  display: inline-block;
  top: calc(50% - 8px);
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: FBF8F8;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 1;
}
.container.left .date {
  right: -80px;
}
.container.right .date {
  left: -80px;
}
.container .icon {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 9px 0;
  top: calc(50% - 20px);
  background: #fff;
  border: 2px solid #2a77eb;
  border-radius: 40px;
  text-align: center;
  font-size: 18px;
  color: #00245A;
  z-index: 1;
}
.container.left .icon {
  right: 60px;
}
.container.right .icon {
  left: 60px;
}
.container .content {
  padding: 30px 90px 30px 30px;
  background: #fff;
  position: relative;
  border-radius: 100px 500px 500px 100px;
}
.container.right .content {
  padding: 30px 30px 30px 90px;
  border-radius: 500px 100px 100px 500px;
}
.container .content h4 {
  margin: 0 0 10px 0;
  font-size: 18px;
  font-weight: bold;
  color: #00245A;
}
.container .content p {
  margin: 0;
  font-size: 15px;
  line-height: 30px;
  color: #00245A;
}
@media (max-width: 800px) {
.timeline::after {
  left: 90px;
}
.container {
  width: 100%;
  padding-left: 120px;
  padding-right: 30px;
}
.container.right {
  left: 0%;
}
.container.left::after,
.container.right::after {
  left: 90px;
}
.container.left::before,
.container.right::before {
  left: 100px;
  border-color: transparent #00245A transparent transparent;
}
.container.left .date,
.container.right .date {
  right: auto;
  left: 15px;
}
.container.left .icon,
.container.right .icon {
  right: auto;
  left: 150px;
}
.container.left .content,
.container.right .content {
  padding: 30px 30px 30px 90px;
  border-radius: 500px 100px 200px 500px;
}
